.body {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  

}

.navbar {
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  display: block;
  transition: top 0.3s;
  position: fixed;
  
  

}
.navbarSecond{
  float: right;
  margin-left: 50em;

}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navlogo{
  height: 50px;
}
.logoNav{
  float: left;z-index: 70;
}
.dropdown-content a { 
  float: right;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.arrowdown {
  transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  z-index: 70;

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 70;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 70;

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.laptopimg > img {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
}

.sectionone {
  background-image: url(https://www.kastapp.co/assets/pages/home/gradient-violet-bg.jpg);
  background-size: cover;
  color: #ffffff;
}
.btnone{
    border:none;
    color: white;
    background-color: #FE9000;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 8em;
    border-radius: 5px;

}
.sectionone > img {
  justify-content: left;
  height: 10px;
  width: 20px;
}
.secondsection{
    padding-top: 2em;
    background-size: cover;
    margin-bottom: 5em;
    width: 100%;
  height: 35em;
}
.sectiontwoimg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sectiontwoimg > div {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
}
.sectionthree {
  background-image: url(https://www.kastapp.co/assets/pages/home/green-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 35em;
  color: #ffffff;
 
}
.quote-block{
  padding-bottom: 2em;
}
.quote-author{
    margin-left: 35em;
    font-size: 20px;
}
